@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

*::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgb(207, 207, 207);
}

.container {
    width: 350px;
    height: 650px;
    padding: 25px 30px;
    position: relative;
    overflow: hidden;
    border-radius:15px ;
    background-color: #4C336C;
    box-shadow: 0px 6px 15px rgb(0,0,0,0.342) ;
}

.containerCor1{
    border-radius:15px ;
    background: #000000;
    box-shadow: 0px 6px 15px rgb(0,0,0,0.342) ;

}



.topoTela {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topoTela i {
    font-size: 30px;
    color: #eee;
    cursor: pointer;
}

.topoTela span {
    font-size: 18px;
    color: #eee;
}

.imgMuic {
    margin-top: 25px;
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
}

.imgMuic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textFaixa {
    text-align: center;
    margin: 20px 0;
}

.textFaixa p {
    color: #eee;

}

.textFaixa .nameMusic {
    font-size: 21px;
}

.nameArtista {
    font-size: 15px;
    opacity: 0.9;
    line-height: 35px;
}

.timeProgress {
    width: 100%;
    height: 5px;
    background: #F1EFEF;
    border-radius: 50px;
    cursor: pointer;

}

.barra {
    width: 0%;
    height: inherit;
    border-radius: inherit;
    position: relative;
    background-color: #EF9F42;

}

.barra::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.timeProgress:hover .barra::before {
    opacity: 1;
    pointer-events: auto;
}

.time {
    display: flex;
    justify-content: space-between;
}

.time span {
    margin-top: 3px;
    font-size: 13px;
    color: #eee;
}

.controlePlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 5px 0;
}



.controlePlayer i {
    font-size: 40px;
    color: #EFEFEE;
    cursor: pointer;

}

.playPause {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.playPause i {
    color: #EFEFEE;
    font-size: 60px;
}


#pause {
    cursor: pointer;
    display: none;
}

.listMusic {
    position: absolute;
    width: 100%;
    padding: 15px 30px;
    z-index: 2;
    left: 0;
    bottom: -55%;
    opacity: 0;
    box-shadow: 0px -5px 10px rgb(0,0,0,0.1);
    background: linear-gradient(#9ce3ff 0%, #fd878d 90%);
    border-radius: 15px;
    background-blend-mode: screen ;
    transition: all 0.15s ease-in-out;
}

.listMusic.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.listMusic ul {
    max-height: 260px;
    margin-top: 20px 0;
    overflow: auto;
}

.containerList {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #515c6f;
}

.textIcoList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listMusic ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #000000;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.containerList ul li:last-child{
    border-bottom: 0px;
}

.containerList ul li .text p:nth-child(1){
    font-size: 16px;
}

.containerList ul li .text p:nth-child(2){
    font-size: 14px;
    opacity: 0.6;
}

.text p {
    margin: 0;
}

.containerList ul li span {
    font-size: 17px;
}

.listMusic ul::-webkit-scrollbar{
    width: 0;
}

.listMusic ul li:hover {
    color: #0e9fff;
}

.textIcoList i {
    font-size: 35px;
}

.textIcoList .close {
    cursor: pointer;
}

.textIcoList p {
    font-size: 18px;
}

.buttonColorBackground {
    position: absolute;
    top: -55%;
    right: 0;
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    height: 80px;
    background-color: #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;

}

.buttonColorBackground i {
    position: absolute;
    font-size: 40px;
    right: 20px;
    cursor: pointer;
}

.buttonColor1, .buttonColor2, .buttonColor3, .buttonColor4 {
    margin: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;

}
.buttonColor1 {
    background-color: #4C336C;
}

.buttonColor2 {
    background-color: #0e9fff;
}

.buttonColor3 {
    background: linear-gradient(#9ce3ff 0%, #fd878d 90%);
}

.buttonColor4 {
    background-color: rgb(10, 8, 8);
}

.fechaMenu {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -5555;
}

.closeMenu {
    display: none;
}

@media screen and (max-width: 400px) {

    body {
        background-color: #4C336C;
    }

    .container {
        border-radius:15px ;
        background-color: #4C336C;
        box-shadow: 0px 6px 15px rgb(0,0,0,0.342) ;
    
    }
}

